
.timerWrapper {
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.timer {
    /* background: orchid; */
    height: 12vh;
    /* width: 25%; */
    font-size: 80px;
    margin: auto;
    text-align: center;
    border-radius: 5%;
}

.swal-text {
    text-align: center !important;
}

.strike {
    color: red;
    text-decoration: line-through;
}
.correct {
    color: green;
}

.middleBox {
    /* background: orchid; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    font-size: 5em;
}

.box {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    font-size: 5em;
}

.box1 {
    background: rgb(124,247,203);
}

.box2 {
    background: rgb(242,103,14);
}

.box:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.boxWrapper {
    /* height: 60vh; */
    display: flex;
    align-items: center;
    align-self: center;
}

.mathWrapper {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr 5fr;
    grid-gap: 4em;
    grid-auto-rows: 20em;
}
/* 
.operator {
    height: min-content;
    align-self: center;
}
.equal {
    height: min-content;
    align-self: center;
} */

.decisionWrapper {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10em;
    grid-auto-rows: 12em;
    margin-top:2%;
}

.answer {
    /* background: orchid; */
    border:2px solid black;
    background-color:teal;
}