* {
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

.back-button {
    opacity: 0.88;
    font-size: 6rem;
    color: #4fdb45;
    text-shadow: 2px 2px #1f5f1b;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.back-button:hover {
    opacity: 1;
}

.back-button:active {
    opacity: 1;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.back-button-wrapper {
    margin-left: 1rem;
}

button {
    border: none;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0);
    outline: none;
}

button:focus {
    outline: none;
}

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

.button-style {
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.button-style:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.animal-header {
    margin-top: 2rem;
}

.animal-wrapper {
    margin-bottom: 1rem;
    max-width: 1230.5px;
}

img {
    opacity: 0.88;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img:hover {
    opacity: 1;
}

img:active {
    opacity: 1;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

/* .incorrect {
    animation: bad 0.5s forwards;
    transition: all 0.2s;
}

.correct {
    animation: good 0.5s forwards;
    transition: all 0.2s;
} */

.correct {
    color: limegreen;
    -webkit-animation: vibrate-1 0.5s linear both;
    animation: vibrate-1 0.5s linear both;
}

.incorrect {
    color: indianred;
    -webkit-animation: vibrate-1 0.5s linear both;
    animation: vibrate-1 0.5s linear both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* @keyframes bad {
    0% {
        margin-left: 0px;
        color: indianred;
    }
    25% {
        margin-left: 3rem;
        color: indianred;
    }
    50% {
        margin-right: 3rem;
        color: indianred;
    }
    75% {
        margin-left: 3rem;
    }
    100% {
        margin-right: 0px;
        color: white;
    }
}

@keyframes good {
    0% {
        margin-left: 0px;
        color: limegreen;
    }
    25% {
        margin-left: 3rem;
        color: limegreen;
    }
    50% {
        margin-right: 3rem;
        color: limegreen;
    }
    75% {
        margin-left: 3rem;
    }
    100% {
        margin-right: 0px;
        color: white;
    }
}
 */

/* Icon Back */
.hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.hvr-icon-back .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-back:hover .hvr-icon,
.hvr-icon-back:focus .hvr-icon,
.hvr-icon-back:active .hvr-icon {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}
